/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200&display=swap'); */


@import 'flexbox.css';
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root{
	--primary:  #3DCFD3;
	--dark: #161616 ;
	--pure: #FFFFFF;
	--ternary: #898989;
	--light:  #F2F2F2;
}

html{
	scroll-behavior: smooth;
	font-size: 16px;
}

body{
	font-size: 16px;
}

header{
	background-color: var(--dark);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80%  85%, 0 100%)
}

.container{
	/* max-width: 1152px; */
	/* padding: 0 12px; */
	margin: 0 auto;
	align-content: center;
}

header nav .left a{
	position: relative;
	color: var(--pure);
	text-decoration: none;
	margin-right: 2rem;
	text-transform: uppercase;
}

header nav .left a::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background: var(--primary);
	margin-right: 3rem;
	transition: 0.4s;
}

header nav .left a:hover::after{
	left: 0;
	width: 100%;
}

header nav .left a:hover{
	color: white;
	font-weight: 900;
}

header nav{
	padding: 1.5rem 0;
}

header nav .branding{
	margin-right: 3rem;
	cursor: pointer;
}

section{
	padding: 5rem;
	margin: 1rem 24rem;
}

section.about h1{
	margin-bottom: 1rem;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
}

section.about h3{
	/* font-size: 1.2rem; */
	/* text-align: center; */
	/* margin-bottom: 1rem; */
	font-weight: 600;
}

section.about p{
	color: black;
	/* font-size: 1rem; */
	line-height: 1.9rem;
	font-weight: 500;
}

section.about .socal{
	display: flex;
}

section.about .socal a img{
	background: var(--pure);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	transition: all 0.4s ease;
}

.socal a img{
	width: 35px;
	height: 35px;
	margin-right: 1rem;
	margin-top: 1rem;
}

section.about .socal a img:hover{
	/* background: var(--primary); */
	width: 40px;
	height: 40px;
}

section.project{
	background: var(--dark);
	color: white;
	padding: 5rem;
	margin: 0;
	height: 25rem;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 80%  85%, 0 100%);
	background: linear-gradient(rgba(0,0,0,1),rgba(0, 0, 0, 1)),url('../images/camera.png');
}

section.project h1.project-heading{
	font-weight: 600;
	align-content:  center;
	text-align: center;
	margin-bottom: 1rem;
}

section.project h3{
	text-align: center;
	padding: 0 20rem;
	font-weight: 300;
}

section.project button.btn.btn-primary{
	align-items: center;
	margin-left: 40%;
	margin-top: 1rem;
	margin-right: 1rem;
}

section.project button.btn.btn-primary-1{
	background: var(--primary);
	color: var(--dark);	
}

section.project button.btn.btn-primary-1:hover{
	background: transparent;
	/* font-weight: 800; */
	color: var(--primary);
	border-color: var(--primary);
}

section.blogs{
	color: black;
	padding: 5rem;
	margin: 0;
	height: 25rem;	
}

section.blogs h1.Blog-heading{
	font-weight: 600;
	align-content:  center;
	text-align: center;
	margin-bottom: 1rem;
}

section.blogs h3{
	text-align: center;
	padding: 0 20rem;
	font-weight: 300;
}

section.blogs button.btn.btn-secondary{
	background: var(--dark);
	color: var(--primary);
	align-items: center;
	margin-left: 40%;
	margin-top: 1rem;
	margin-right: 1rem;
}

section.blogs button.btn.btn-secondary:hover{
	background: transparent;
	color: var(--dark);
	background: var(--primary);
}

.span{
	margin: 1rem;
}

.branding img{
	height: 4rem;
}	

@media(max-width: 1024px){
	.hero .left img{
		width: 350px;
		margin-left: 100px;
	}
	.hero .right{
		margin-left: 0px ;
	}
	section.blogs h3{
		padding: 0 10rem;
	}
	section.project h3{
		padding: 0 10rem;
	}section{
		/* padding: 0 10rem; */
		margin: 0rem;
	}section.about h3{
		text-align: center;
	}
	section.about p{
		padding: 0 10rem;
		font-size: 15px;
	}section.about .socal{
		/* align-items: center; */
		margin-left: 10rem;
	}
	section.about h3{
		font-size: 1rem;
	}
}